.App {
  text-align: center;
  
}
h3
{
  font-size: 2.5rem;
}

h4
{
  font-size: 1.9rem;
}

h5
{
  font-size: 1.3rem;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Logo */
.logoHW{
  height: 30px;
  width: 30px;
  transform: rotate(-90deg);
}

.HomeStartVideo
{
  max-height: 100vh;
  object-fit: cover;
  width: 100%;
}
/* body {
  overflow: hidden;
} */
.carouselClass
{
  position: relative;
  top: -72px;
  z-index: -1;
}
.carouselClass .carousel
{
  width: 100vw;
}
.carouselMainText
{
  position:absolute;
  top: 40%;
  left: 43%;
}
.carouselMainText h1
{
  font-size: 42px;
  font-weight: 900 !important;
  font-style: normal;
}

body::-webkit-scrollbar{
  display: none;
}

.HomeImages1
{
  width: 451px;
}
.HomeImages1 img
{
  width: 100%;
  height: 438px;
  object-fit: cover;
}
.HomeImages2
{
  width: 450pxpx;
  object-fit: cover;
}
.HomeImages2 img
{
  width: 100%;
  height: 672px;
  object-fit: cover;
}
.footerContact h3{
  font-size: 28px;
  text-align: left;
  color: white;
  font-style: italic;
}
.footerContact h4{
  font-size: 14px;
  text-align: left;
  color: white;
  font-style: italic;
}
.footerLogoarea h3
{
  font-size: 28px;
  text-align: left;
  color: white;
  font-style: italic;
}

.footerLogoarea h2,h1
{
  font-size: 14px;
  text-align: left;
  font-style: italic;
  color: white;
  font-weight: 400 !important;
}
#vid
{
  width: 100vw;
  height:295px;
  object-fit: cover;
}
#vid2
{
  margin-top: 25px;
  width: 405px;
  height: 187px;
  object-fit: cover;

}
.fotterBottomArea h3
{
  font-size: 16px;
  text-align: left;
  font-style: italic;
  color: white;
  font-weight: 400 !important; 
}
.fotterBottomArea span
{
  font-size: 19px;
  text-align: left;
  font-style: italic;
  color: white;
  font-weight: 800 !important; 
}
.fotterBottomArea
{
  margin-top: 27px;
  padding: 9px;
  background-color: rgba(0, 0, 0, 0.712);
}
.FooterAllignment
{
  position: relative;
  bottom: 0px;
}
.footericonsSize
{
  font-size: 22px;
}